body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #000; }

.rus {
  display: none; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; }

header {
  background: url(./img/Bg.png) no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh; }

.header-navigation {
  height: 120px;
  align-items: center; }
  .header-navigation a {
    color: #fff;
    text-transform: uppercase; }
  .header-navigation__logo {
    width: 175px;
    height: 30px;
    display: flex; }
  .header-navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-navigation__menu a {
    text-transform: uppercase;
    margin: 0 10px; }
  .header-navigation__login {
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 30px; }
  .header-navigation__signupBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header-navigation__language {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer; }
    .header-navigation__language span {
      color: #ffffff;
      align-items: center; }
      .header-navigation__language span img {
        width: 32px;
        height: 32px; }

.header-navigation__drop-language-menu {
  position: absolute;
  background: #dddddd;
  display: block;
  padding: 10px;
  border-radius: 10px;
  width: 90px;
  top: 40px;
  left: -10px;
  display: none;
  z-index: 999;
  cursor: pointer; }
  .header-navigation__drop-language-menu a {
    color: #000000; }
    .header-navigation__drop-language-menu a img {
      width: 32px;
      height: 32px;
      margin-right: 5px; }

.header-info {
  color: #ffff;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%; }
  .header-info h1, .header-info p {
    margin-bottom: 50px; }
  .header-info h1 {
    line-height: 86px;
    font-size: 72px; }
  .header-info p {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-align: center; }
  .header-info a {
    background: #ffffff;
    padding: 20px 50px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }

.under_header_info {
  height: 500px;
  display: flex;
  align-items: center; }
  .under_header_info__block1 h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px; }
  .under_header_info__block1 p {
    text-align: justify;
    margin-bottom: 20px; }
  .under_header_info__block1 a {
    color: #ED4C5C;
    text-align: justify; }
  .under_header_info__block2 {
    display: flex;
    justify-content: center; }
    .under_header_info__block2 span {
      position: relative; }
      .under_header_info__block2 span a {
        position: absolute;
        top: 40%;
        left: -30px; }

.features-section {
  background-color: #FAFAFA;
  width: 100%;
  height: 660px; }
  .features-section__block {
    position: relative; }
    .features-section__block__span {
      position: relative; }
      .features-section__block__span span {
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 40px 40px;
        width: 80%;
        background-color: #ffffff;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .features-section__block__span span h3 {
          font-size: 18px;
          line-height: 22px;
          font-weight: bold; }
        .features-section__block__span span a {
          color: #ED4C5C; }
        .features-section__block__span span h3, .features-section__block__span spanp {
          margin-bottom: 20px; }

.title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  margin: 60px 0; }

.technology-section {
  height: 500px; }
  .technology-section__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 225px;
    margin-top: 50px; }
    .technology-section__block h3 {
      font-weight: bold;
      font-size: 18px;
      margin: 20px 0; }
    .technology-section__block__number {
      position: absolute;
      top: -50px; }
    .technology-section__block__icon {
      position: absolute;
      top: 0; }

.video-section {
  background-color: #ED4C5C;
  position: relative;
  height: 500px;
  display: flex; }
  .video-section__container {
    display: flex;
    justify-content: center; }
  .video-section__info img {
    margin-right: 15px; }
  .video-section__info h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    margin-bottom: 30px; }
  .video-section__info p {
    color: #ffffff;
    line-height: 140%;
    margin-bottom: 30px; }
  .video-section__info, .video-section__videos {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .video-section__videos {
    align-items: center; }
    .video-section__videos span {
      position: relative;
      width: 445px;
      height: 310px; }
      .video-section__videos span img {
        position: absolute;
        border-radius: 15px; }

.blured_img_1, .blured_img_2 {
  opacity: .5;
  height: 270px !important;
  z-index: 0 !important;
  top: 50%;
  transform: translateY(-50%); }

.blured_img_1 {
  left: -8%; }

.blured_img_2 {
  right: -8%; }

.img_video_active {
  z-index: 5; }

.contact-section {
  height: 500px;
  display: flex; }
  .contact-section__container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contact-section__block1, .contact-section__block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .contact-section__block1 {
    margin-top: -60px;
    padding-right: 10%; }
  .contact-section__block2 {
    padding-right: 5%; }
    .contact-section__block2 input, .contact-section__block2 select {
      border: 1px solid #333333;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 20px 30px;
      margin: 0 30px 30px 0;
      width: 100%;
      text-overflow: ellipsis; }
    .contact-section__block2 button {
      text-transform: uppercase;
      color: #ffffff;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      padding: 15px 25px;
      background: #ED4C5C;
      border: 1.5px solid #ED4C5C;
      box-sizing: border-box;
      border-radius: 6px;
      align-self: flex-start; }

input::placeholder {
  color: rgba(19, 39, 67, 0.5);
  text-overflow: ellipsis; }

footer {
  background: #FAFAFA;
  height: 435px; }

.footer_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 85px;
  padding-right: 7%;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%; }
  .footer_block h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px; }
  .footer_block a {
    margin: 0 0 10px 0; }
  .footer_block__icons a {
    margin: 20px 0px 0 10px; }

.footer_copyBlock p {
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin: 60px 0 0 10px; }

/*# sourceMappingURL=main.css.map */
