@media screen and ( max-width:992px)
    .under_header_info,
    .features_section,
    .technology_section,
    .video_section,
    .contact_section,
    footer
        height: auto
        padding: 100px 0 

    .title
        margin: 0

    .header_info
        width: 70%

    .under_header_info__block1
        margin-bottom: 60px
        display: flex
        flex-direction: column
        justify-content: center
        & h2
            text-align: center
        & p
            text-align: justify
        & a 
            align-self: center

    .features_section h2,
    .technology_section h2 
        margin-bottom: 60px  
    
    .features_section
        padding-bottom: 50px

        &__container

            &__block
                display: flex
                justify-content: space-around

                margin-bottom: 30%
                

                & span
                    width: 35%
                    
.video_section__container__info
    justify-content: center
    margin-bottom: 60px
    & h3
        text-align: center
    & p
        text-align: justify
    & div 
        align-self: center